
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eu odeio acordar cedo</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://scontent.fcgh65-1.fna.fbcdn.net/v/t39.30808-1/254674131_286940839969869_5069261758980031326_n.jpg?stp=dst-jpg_p200x200&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Sk0xAJejqmUQ7kNvgFzctgj&_nc_ht=scontent.fcgh65-1.fna&oh=00_AYCv4HNzuWm4hauMED7kpferB7iHiUII_-KbZ3Otp55fYg&oe=666F5902">
            <h1>Eu odeio acordar cedo</h1>
        </div>
        <div class="left-menu">
            <ul>
                <li><a href="#">comunidade</a></li>
                <li><a href="#">fórum</a></li>
                <li><a href="#">denunciar abuso</a></li>
            </ul>
        </div>
        <div class="main-content">
            <p><strong>idioma:</strong> Português (Brasil)</p>
            <p><strong>categoria:</strong> Família e Lar</p>
            <p><strong>tipo:</strong> Público</p>
            <p><strong>criada em:</strong> 5 de junho de 2004</p>
            <p><strong>local:</strong> Brasil</p>
            <p><strong>privacidade:</strong> Público</p>
            <p>
                Eu odeio, eu odeio, eu odeio, eu odeio, eu odeio, eu odeio, eu odeio, precisa dizer mais alguma coisa?
                <br><br>
                Eh o seguinte, se vc foi surpreendido com banicao nesta comunidade eh porque vc deve ter postado topicos inconvenientes ou nao referentes ao titulo.
                <br><br>
                Quem postar propaganda em forum tambem sera banido.
            </p>
            <div class="forum">
                <h2><a href="#">Fórum</a></h2>
                <ul>
                    <li>
                        <strong><a href="#">saudades</a></strong><br>
                        3 respostas. Nem acredito :( 2 de julho de 2014
                    </li>
                    <li>
                        <strong><a href="#">Essa comunidade no google+</a></strong><br>
                        2 respostas. Prefiro as comunidades do... 22 de janeiro de 2014
                    </li>
                    <li>
                        <strong><a href="#">PROPOSTA DE TRABALHO INDEPENDENTE</a></strong><br>
                        1 resposta. GANHE DINHEIRO TODOS OS... 7 de setembro de 2012
                    </li>
                    <li>
                        <strong><a href="#">PROPOSTA DE TRABALHO INDEPENDENTE</a></strong><br>
                        1 resposta. GANHE DINHEIRO TODOS OS... 2 de maio de 2012
                    </li>
                    <li>
                        <strong><a href="#">KingsMu</a></strong><br>
                        1 resposta. - KingsMU! - × ~ |... 29 de abril de 2012
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
